
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:#c4c4c4;
    --primary-color:#363636;
    --main-font:"Playfair Display",serif;
}
/* Nav Section Start */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

ul li{
    display:inline ;
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #000;
    margin-left:4rem ;
}

ul li a:hover{
    border-bottom:2em solid var(--primary-color);
    padding-bottom: 10em;
}

.btn-fill{
    padding: 10px 30px;
    background-color: var(--primary-color);
    border:none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}
.btn-fill:hover{
    animation-delay: 0.2;
    background-color: #1f1f1f;
    
}

.btn-outline{
    background: transparent; 
    border: none;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}
/* Nav Section End */

/* Header Section Start */
header{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.content-container{
    margin-left: 6rem;
}

.main-heading{
    font-size: 4rem;
    font-family:var(--main-font);
    color: #0000004f;
    margin-bottom: 2rem;
}

.main-heading span{
    color: #000;
}

.primary-heading{
    max-width: 500px;
    font-family: sans-serif;
    line-height: 25px;
    margin-bottom: 2rem;
    
}

.img-container{
    width: 500px;
    height: 500px;
    background:var(--main-color);
    border-radius: 100%;

}
.img-container img{
    height: 100%;
    width: 100%;
    margin-left:20px;
    margin-bottom: 40px;
    /* position: relative;
    right: 110px;
    bottom: 30px;
    top: 3px;*/
} 

/* Header Section End */


/* <!--Popularity Sectiom Start--> */


.Popularity div{
    margin-right:5rem ;

}
.Popularity div h1{
    font-size: 3rem;
    text-align: center;
    color:#363663;
    font-family:var(--main-font);
   
}

.Popularity div p{
    color:#363663 ;
    font-family: sans-serif;

}
.Product-heading{
    text-align: center;
    margin-top:10rem;
    margin-bottom: 5rem;
    font-size: 4rem;
    color: #0000004f;
}
.Product-heading span{
    color: #000;

}
.Products{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;   
}